@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-navbar: #10002b;
  --color-bg: #240046;
  --color-text: #e0aaff;
  --color-subtext: #c77dff;
  --color-button: #a06cd5;
}
